name: publish
on:
  push:
    branches:
      - "main"
  pull_request:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: false

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_NOLOGO: true
  NUGET_DIRECTORY: ${{ github.workspace}}/artifacts

defaults:
  run:
    shell: pwsh

jobs:
  lint_config:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-dotnet@v5
      - run: dotnet run --project=tools/ConfigFilesGenerator/ConfigFilesGenerator.csproj

  compute_version:
    runs-on: ubuntu-latest
    outputs:
      package_version: ${{ steps.compute-version.outputs.package_version }}
    steps:
        - uses: actions/checkout@v6
        - uses: actions/setup-dotnet@v5
        - id: compute-version
          run: |
            try
            {
                $(Invoke-WebRequest "https://www.nuget.org/api/v2/package/Meziantou.NET.Sdk/").BaseResponse.RequestMessage.RequestUri -match "meziantou\.net\.sdk\.1\.0\.([0-9]+).nupkg"
                $NewVersion = "1.0.$([int]$Matches.1 + 1)"
            }
            catch
            {
                $NewVersion = "1.0.0"
            }

            Write-Host "New version: $NewVersion"
            "package_version=$NewVersion" >> $env:GITHUB_OUTPUT

  create_nuget:
    needs: [compute_version]
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-dotnet@v5
      - run: ./build.ps1 "-p:Version=${{ needs.compute_version.outputs.package_version }}"
      - uses: actions/upload-artifact@v6
        with:
          name: nuget
          if-no-files-found: error
          retention-days: 3
          path: "${{ env.NUGET_DIRECTORY }}/*.nupkg"

  test:
    strategy:
      fail-fast: false
      matrix:
        runs-on: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.runs-on }}
    needs: [create_nuget, compute_version]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          name: nuget
          path: ${{ env.NUGET_DIRECTORY }}
      - uses: actions/setup-dotnet@v5
      - run: Get-ChildItem "${{ env.NUGET_DIRECTORY }}/*" -Recurse
      - run: dotnet --info
      - run: dotnet test tests/Meziantou.Sdk.Tests --logger "trx" --logger GitHubActions --results-directory test_results
        env:
            NUGET_DIRECTORY: ${{ env.NUGET_DIRECTORY }}
            PACKAGE_VERSION: ${{ needs.compute_version.outputs.package_version }}
      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: test_results_${{ matrix.runs-on }}
          path: test_results

  deploy:
    runs-on: ubuntu-latest
    needs: [create_nuget, lint_config, test, compute_version]
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/download-artifact@v7
        with:
          name: nuget
          path: ${{ env.NUGET_DIRECTORY }}
      - uses: actions/setup-dotnet@v5

      - name: Must Publish Packages
        id: has_changes
        run: |
          $PreviousTag = git describe --tags --abbrev=0 2>$null
          if ($PreviousTag) {
            Write-Host "Previous tag: $PreviousTag"
            $Changes = git diff --name-only $PreviousTag HEAD -- '*.nuspec' 'src/**/*'
          } else {
            Write-Host "No previous tag found, checking all files"
            $Changes = $true
          }

          if ($Changes) {
            Write-Host "Changes: $Changes"
            echo "has_changes=true" >> $env:GITHUB_OUTPUT
            exit 0
          } else {
            Write-Host "No changes detected in .nuspec or src/ files"
            echo "has_changes=false" >> $env:GITHUB_OUTPUT
            exit 0
          }

      - name: Publish NuGet packages
        if: ${{ steps.has_changes.outputs.has_changes == 'true' }}
        env:
          NuGetApiKey: ${{ secrets.NuGetApiKey }}
          FeedzApiKey: ${{ secrets.FEEDZ_APIKEY }}
        run: |
          Write-Host "Current ref: $env:GITHUB_REF"
          Write-Host "Searching nupkg in folder: ${{ env.NUGET_DIRECTORY }}"
          $files = Get-ChildItem "${{ env.NUGET_DIRECTORY }}/*" -Recurse -Include *.nupkg
          foreach ($file in $files) {
              Write-Host "Pushing NuGet package: $($file.FullName)"
              & dotnet nuget push "$($file.FullName)" --api-key "$env:FeedzApiKey" --source https://f.feedz.io/meziantou/meziantou-dotnet-codingstandard/nuget/index.json --force-english-output --skip-duplicate
              if ($env:GITHUB_REF -eq 'refs/heads/main')
              {
                  & dotnet nuget push "$($file.FullName)" --api-key "$env:NuGetApiKey" --source https://api.nuget.org/v3/index.json --force-english-output --skip-duplicate
              }
          }

      - run: gh release create "${{ needs.compute_version.outputs.package_version }}" --generate-notes
        if: ${{ steps.has_changes.outputs.has_changes == 'true' && github.ref == 'refs/heads/main' }}
        env:
          GH_TOKEN: ${{ github.token }}
